.imp-wrap {
    position: relative;
    /* width: auto;
    height: auto */
    width: 100%;
    height: 100%;
}

.hs-loader-wrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center
}

.imp-wrap>img {
    position: relative!important;
    z-index: 0!important;
    width: 100%!important;
    /* height: 100%!important; */
    margin: 0!important;
    max-width: none!important;
    max-height: none!important;
    display: block!important
}

.hs-arrow,
.imp-shape-container,
.imp-shape-oval,
.imp-shape-rect,
.imp-shape-spot,
.imp-tooltip,
.imp-tooltip-buffer {
    position: absolute
}

.imp-shape-container {
    left: 0;
    top: 0;
    width: auto;
    height: inherit;
    /* width: 100%;
    height: 100%; */
    z-index: 2
}

.imp-shape {
    cursor: pointer;
    pointer-events: all;
    transition: all .25s cubic-bezier(.55, 0, .1, 1);
    -moz-transition: all .25s cubic-bezier(.55, 0, .1, 1);
    -webkit-transition: all .25s cubic-bezier(.55, 0, .1, 1);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}

.imp-shape-spot {
    display: flex;
    justify-content: center;
    align-items: center
}

.imp-shape-icon-shadow {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 0;
    transform: scale(1, .25);
    background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, .53) 0, rgba(0, 0, 0, .3) 10%, rgba(0, 0, 0, .13) 28%, rgba(0, 0, 0, .04) 44%, rgba(0, 0, 0, 0) 67%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, .53) 0, rgba(0, 0, 0, .3) 10%, rgba(0, 0, 0, .13) 28%, rgba(0, 0, 0, .04) 44%, rgba(0, 0, 0, 0) 67%, rgba(0, 0, 0, 0) 100%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, .53) 0, rgba(0, 0, 0, .3) 10%, rgba(0, 0, 0, .13) 28%, rgba(0, 0, 0, .04) 44%, rgba(0, 0, 0, 0) 67%, rgba(0, 0, 0, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#87000000', endColorstr='#00000000', GradientType=1)
}

.imp-shape img {
    width: 100%
}

.hs-arrow-bottom,
.hs-arrow-top {
    left: 50%;
    margin-left: -10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent
}

.imp-tooltip {
    z-index: 1;
    transition-property: none;
    -moz-transition-property: none;
    -webkit-transition-property: none;
    transition-duration: .2s;
    -moz-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    transition-timing-function: cubic-bezier(.55, 0, .1, 1);
    -moz-transition-timing-function: cubic-bezier(.55, 0, .1, 1);
    -webkit-transition-timing-function: cubic-bezier(.55, 0, .1, 1);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}

.imp-tooltip.imp-tooltip-visible {
    opacity: 1!important;
    z-index: 4;
    transform: scale(1, 1)!important;
    -moz-transform: scale(1, 1)!important;
    -webkit-transform: scale(1, 1)!important
}

.hs-arrow-top {
    top: 0;
    margin-top: -10px;
    border-bottom: 10px solid #000
}

.hs-arrow-bottom {
    top: 100%;
    margin-top: 0;
    border-top: 10px solid #000
}

.hs-arrow-left,
.hs-arrow-right {
    top: 50%;
    margin-top: -10px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent
}

.hs-arrow-right {
    left: 100%;
    margin-left: 0;
    border-left: 10px solid #000
}

.hs-arrow-left {
    left: 0;
    margin-left: -10px;
    border-right: 10px solid #000
}

.imp-tooltip-buffer-top {
    left: 0;
    top: -20px;
    width: 100%;
    height: 20px
}

.imp-tooltip-buffer-bottom {
    left: 0;
    top: 100%;
    width: 100%;
    height: 20px
}

.imp-tooltip-buffer-left {
    left: -20px;
    top: 0;
    width: 20px;
    height: 100%
}

.imp-tooltip-buffer-right {
    left: 100%;
    top: 0;
    width: 20px;
    height: 100%
}

.imp-tooltip-buffer-top.imp-tooltip-buffer-large {
    left: 0;
    top: -60px;
    width: 100%;
    height: 60px
}

.imp-tooltip-buffer-bottom.imp-tooltip-buffer-large {
    left: 0;
    top: 100%;
    width: 100%;
    height: 60px
}

.imp-tooltip-buffer-left.imp-tooltip-buffer-large {
    left: -60px;
    top: 0;
    width: 60px;
    height: 100%
}

.imp-tooltip-buffer-right.imp-tooltip-buffer-large {
    left: 100%;
    top: 0;
    width: 60px;
    height: 100%
}

.imp-fullscreen-tooltips-container {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow-y: auto;
    z-index: 2147483647
}

.imp-fullscreen-tooltips-container .imp-fullscreen-tooltip {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    transition-property: none;
    -moz-transition-property: none;
    -webkit-transition-property: none;
    transition-duration: .2s;
    -moz-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    transition-timing-function: cubic-bezier(.55, 0, .1, 1);
    -moz-transition-timing-function: cubic-bezier(.55, 0, .1, 1);
    -webkit-transition-timing-function: cubic-bezier(.55, 0, .1, 1)
}

.imp-fullscreen-tooltips-container .imp-fullscreen-tooltip.imp-tooltip-visible {
    opacity: 1!important;
    z-index: 3;
    overflow-y: auto;
    transform: scale(1, 1)!important;
    -moz-transform: scale(1, 1)!important;
    -webkit-transform: scale(1, 1)!important;
}
.imp-fullscreen-tooltips-container .imp-fullscreen-tooltip.imp-tooltip-visible .squares-container{
    max-width: 300px;
    margin: auto;
    position: absolute; 
    left: 40%;
}
.imp-fullscreen-tooltips-container .imp-fullscreen-tooltip .imp-tooltip-close-button {
    position: absolute;
    right: 0;
    top: 0;
    width: 44px;
    height: 44px;
    font-size: 24px;
    line-height: 44px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    z-index: 99
}

.imp-fullscreen-button {
    position: absolute;
    height: 44px;
    line-height: 44px;
    padding: 0 12px;
    background: #fff;
    border-radius: 5px;
    color: #222;
    z-index: 3;
    cursor: pointer
}

.imp-fullscreen-button i {
    margin-right: 3px
}

.imp-fullscreen-button-position-0 {
    left: 10px;
    top: 10px
}

.imp-fullscreen-button-position-1 {
    left: 50%;
    top: 10px
}

.imp-fullscreen-button-position-2 {
    right: 10px;
    top: 10px
}

.imp-fullscreen-button-position-3 {
    right: 10px;
    bottom: 10px
}

.imp-fullscreen-button-position-4 {
    left: 50%;
    bottom: 10px
}

.imp-fullscreen-button-position-5 {
    left: 10px;
    bottom: 10px
}

.imp-fullscreen-button-icon-only {
    width: 44px;
    text-align: center;
    font-size: 18px;
    padding: 0
}



.sq-element-quizz-pi,
.sq-element-quizz-infoslegale,
.sq-element-quizz-geolocation {
    background-color: white!important;
}
.sq-element-quizz-pi .quizz-question,
.sq-element-quizz-infoslegale .quizz-question,
.sq-element-quizz-geolocation .quizz-question{
    /* color:black!important;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px!important;
    line-height: 20px!important; */
    margin: 0px!important;
    padding: 10px!important;
    word-break: break-word!important;
}
.sq-element-quizz-pi .quizz-question *,
.sq-element-quizz-infoslegale .quizz-question *,
.sq-element-quizz-geolocation .quizz-question *{
    color:black!important;
    text-align: justify!important;
    font-family: 'Open Sans', sans-serif!important;
    font-size: 14px!important;
    line-height: 20px!important;
    padding-left: 12px;
    padding-right: 12px;    
    word-break: initial;
}

.sq-element-quizz-pi .quizz-content,
.sq-element-quizz-infoslegale .quizz-content,
.sq-element-quizz-geolocation .quizz-content {
    margin-right: 7px!important;
    margin-left: 7px!important;
}
.sq-element-quizz-pi .quizz-content .quizz-col,
.sq-element-quizz-infoslegale .quizz-content .quizz-col,
.sq-element-quizz-geolocation .quizz-content .quizz-col {
    padding:2px!important;
}

.sq-element-quizz-pi .quizz-button,
.sq-element-quizz-infoslegale .quizz-button,
.sq-element-quizz-geolocation .quizz-button {
    height: 70px!important;
    /* background-color: rgb(81, 31, 70); */
    color: rgb(255, 255, 255);
    font-size: 14px !important;
    /* line-height: 16px !important; */
    border-radius: 10px;
    width: 100%;
    padding: 2px;
    /* padding-left: 0px; */
    /* padding-right: 0px; */
    /* overflow: hidden; */
    align-items: center!important;
    white-space: normal; /* Don't forget this one */
    /* text-overflow: ellipsis; */
    flex-direction: column !important;
    display: flex;
    justify-content: center;
    align-content: center;
    word-break: break-word!important;
}

.sq-element-quizz-pi .quizz-button-check,
.sq-element-quizz-infoslegale .quizz-button-check,
.sq-element-quizz-geolocation .quizz-button-check {
    display: none!important;
}

.sq-element-quizz-pi .quizz-button-again,
.sq-element-quizz-infoslegale .quizz-button-again,
.sq-element-quizz-geolocation .quizz-button-again {
    width: 90%;
    padding: 10px;
    margin: 2px;
    border-radius: 20px;
}



.imp-fullscreen-button-icon-only i {
    margin: 0
}

#imp-fullscreen-wrap {
    position: fixed;
    z-index: 999999;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center
}

body.imp-fullscreen-mode {
    overflow: hidden
}

/*Shape selection special for rectangle and oval*/

#imp-selection-rect-oval{
    top : 0;
}

/* Selected spot css */
.imp-editor-spot .imp-selection{
    /* border-radius: 50px !important;
    border: 3px solid #511f46  !important;
    left: -4px;
    top: -25.5px;
    width: 115%;
    height: 115%; */
    z-index: 50;
}
#img-editor-image-area{
    width: auto;
    height: auto;
}