@font-face {
  font-family: 'culturmoov';
  src:
    url('fonts/culturmoov.ttf?ajwoql') format('truetype'),
    url('fonts/culturmoov.woff?ajwoql') format('woff'),
    url('fonts/culturmoov.svg?ajwoql#culturmoov') format('svg');
  font-weight: normal;
  font-style: normal;
}

.cm {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'culturmoov' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cm-3d-color .path1:before {
  content: "\e920";
  color: rgb(252, 94, 50);
}
.cm-3d-color .path2:before {
  content: "\e921";
  margin-left: -0.904296875em;
  color: rgb(0, 0, 0);
}
.cm-3d-color .path3:before {
  content: "\e922";
  margin-left: -0.904296875em;
  color: rgb(252, 94, 50);
}
.cm-3d-color .path4:before {
  content: "\e923";
  margin-left: -0.904296875em;
  color: rgb(252, 94, 50);
}
.cm-3d-color .path5:before {
  content: "\e924";
  margin-left: -0.904296875em;
  color: rgb(252, 94, 50);
}
.cm-fake:before {
  content: "\e925";
}
.cm-360-deg:before {
  content: "\e926";
}
.cm-axe-1:before {
  content: "\e927";
}
.cm-pickaxe:before {
  content: "\e928";
}
.cm-axe-2:before {
  content: "\e929";
}
.cm-bell:before {
  content: "\e92a";
}
.cm-brick-3:before {
  content: "\e900";
}
.cm-3d:before {
  content: "\e92b";
}
.cm-binoculars:before {
  content: "\e901";
}
.cm-brick:before {
  content: "\e902";
}
.cm-car-front:before {
  content: "\e903";
}
.cm-clock-circular-outline:before {
  content: "\e904";
}
.cm-close-circular-button-symbol:before {
  content: "\e905";
}
.cm-deal:before {
  content: "\e906";
}
.cm-diamond:before {
  content: "\e907";
}
.cm-down-arrow-download-button:before {
  content: "\e908";
}
.cm-eye:before {
  content: "\e909";
}
.cm-favorite-heart-button:before {
  content: "\e90a";
}
.cm-flashlight:before {
  content: "\e90b";
}
.cm-gamepad-console:before {
  content: "\e90c";
}
.cm-icon:before {
  content: "\e90d";
}
.cm-laurel:before {
  content: "\e90e";
}
.cm-light-bulb:before {
  content: "\e90f";
}
.cm-map:before {
  content: "\e910";
}
.cm-microscope:before {
  content: "\e911";
}
.cm-painter-palette:before {
  content: "\e912";
}
.cm-photo-camera:before {
  content: "\e913";
}
.cm-placeholder:before {
  content: "\e914";
}
.cm-play-button:before {
  content: "\e915";
}
.cm-plus-button:before {
  content: "\e916";
}
.cm-route:before {
  content: "\e917";
}
.cm-search:before {
  content: "\e918";
}
.cm-settings:before {
  content: "\e919";
}
.cm-settings-gears:before {
  content: "\e91a";
}
.cm-share:before {
  content: "\e91b";
}
.cm-star:before {
  content: "\e91c";
}
.cm-visibility:before {
  content: "\e91d";
}
.cm-work-hammer:before {
  content: "\e91e";
}
.cm-zoom-in:before {
  content: "\e91f";
}
